@model GIFT_OF_THE_GIVERS_fOUNDATION.Models.Donations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDonated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDonated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor.DonorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
